@model List<Element>
@{
    ViewData["Title"] = "Consulta Tabla Periódica";
}

<head>
    <link href="~/css/PeriodicTableStyle.css" rel="stylesheet" />
    <script src="~/js/ElementZoomin.js"></script>
</head>
@{
    var PositionCounter = 0;
}
<div class="text-center" style="z-index:1;position:relative">
    <h1>Tabla Periódica de los Elementos Químicos</h1>
    <div style="margin-left:400px" class="text-center">
        <table id="ElementZoomin">
            <tr id="ElementTR">
                <td style="width:120px;height:120px">
                    <div id="NumberZoomin" style="font-size:25px;font-weight:400">

                    </div>
                    <div id="SymbolZoomin" style="font-size:40px;font-weight:700">

                    </div>
                    <div id="NameZoomin" style="font-size:25px;font-weight:400">

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <table align="center">
        <tr>
            @for (int i = 0; i < Model.Count; i++)
            {


                @if ((PositionCounter != 0 && PositionCounter < 17) || (PositionCounter > 19 && PositionCounter < 30) || (PositionCounter > 37 && PositionCounter < 48) || (PositionCounter > 126 && PositionCounter < 129) || (PositionCounter > 144 && PositionCounter < 147))
                {
                    <td style="width:60px"></td>
                    if (Model[i].OrderNo != PositionCounter)
                    {
                        i--;
                    }
                }
                else
                {
                    if ((PositionCounter % 18 == 0) && (PositionCounter != 126))
                    {
                    <tr></tr>

                }
                if (PositionCounter == 126)
                {
                    <tr><td style="height:30px"></td></tr>
                }


                if (Model[i].OrderNo == PositionCounter)
                {
                    if (Model[i].ElementClass == "Metales de transición")
                    {
                        <td class="element metales-transicion" id="E_@PositionCounter" onmouseover="Zoomin(@PositionCounter)" onmouseout="Zoomout(@PositionCounter)">
                            <div class="name-number">
                                @Model[i].Number
                            </div>
                            <div class="symbol div-element">
                                @Model[i].Symbol
                            </div>
                            <div class="name-number div-element">
                                @Model[i].Name
                            </div>
                        </td>
                    }
                    else
                    {
                        if (Model[i].ElementClass == "Otros metales")
                        {
                            <td class="element otros-metales" id="E_@PositionCounter" onmouseover="Zoomin(@PositionCounter)" onmouseout="Zoomout(@PositionCounter)">
                                <div class="name-number">
                                    @Model[i].Number
                                </div>
                                <div class="symbol div-element">
                                    @Model[i].Symbol
                                </div>
                                <div class="name-number div-element">
                                    @Model[i].Name
                                </div>
                            </td>
                        }
                        else
                        {
                            if (Model[i].ElementClass == "Otros No Metales")
                            {
                                <td class="element otros-no-metales" id="E_@PositionCounter" onmouseover="Zoomin(@PositionCounter)" onmouseout="Zoomout(@PositionCounter)">
                                    <div class="name-number">
                                        @Model[i].Number
                                    </div>
                                    <div class="symbol div-element">
                                        @Model[i].Symbol
                                    </div>
                                    <div class="name-number div-element">
                                        @Model[i].Name
                                    </div>
                                </td>

                            }
                            else
                            {
                                if (Model[i].ElementClass == "Alcalinos")
                                {
                                    <td class="element alcalinos" id="E_@PositionCounter" onmouseover="Zoomin(@PositionCounter)" onmouseout="Zoomout(@PositionCounter)">
                                        <div class="name-number">
                                            @Model[i].Number
                                        </div>
                                        <div class="symbol div-element">
                                            @Model[i].Symbol
                                        </div>
                                        <div class="name-number div-element">
                                            @Model[i].Name
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    if (Model[i].ElementClass == "Alcalinoférreos")
                                    {
                                        <td class="element alcalinoterreos" id="E_@PositionCounter" onmouseover="Zoomin(@PositionCounter)" onmouseout="Zoomout(@PositionCounter)">
                                            <div class="name-number">
                                                @Model[i].Number
                                            </div>
                                            <div class="symbol div-element">
                                                @Model[i].Symbol
                                            </div>
                                            <div class="name-number div-element">
                                                @Model[i].Name
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        if (Model[i].ElementClass == "Lantanidos")
                                        {
                                            <td class="element lantanidos" id="E_@PositionCounter" onmouseover="Zoomin(@PositionCounter)" onmouseout="Zoomout(@PositionCounter)">
                                                <div class="name-number">
                                                    @Model[i].Number
                                                </div>
                                                <div class="symbol div-element">
                                                    @Model[i].Symbol
                                                </div>
                                                <div class="name-number div-element">
                                                    @Model[i].Name
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            if (Model[i].ElementClass == "Actinidos")
                                            {
                                                <td class="element actinidos" id="E_@PositionCounter" onmouseover="Zoomin(@PositionCounter)" onmouseout="Zoomout(@PositionCounter)">
                                                    <div class="name-number">
                                                        @Model[i].Number
                                                    </div>
                                                    <div class="symbol div-element">
                                                        @Model[i].Symbol
                                                    </div>
                                                    <div class="name-number div-element">
                                                        @Model[i].Name
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                if (Model[i].ElementClass == "Metaloides")
                                                {
                                                    <td class="element metaloides" id="E_@PositionCounter" onmouseover="Zoomin(@PositionCounter)" onmouseout="Zoomout(@PositionCounter)">
                                                        <div class="name-number">
                                                            @Model[i].Number
                                                        </div>
                                                        <div class="symbol div-element">
                                                            @Model[i].Symbol
                                                        </div>
                                                        <div class="name-number div-element">
                                                            @Model[i].Name
                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    if (Model[i].ElementClass == "Halogenos")
                                                    {
                                                        <td class="element halogenos" id="E_@PositionCounter" onmouseover="Zoomin(@PositionCounter)" onmouseout="Zoomout(@PositionCounter)">
                                                            <div class="name-number">
                                                                @Model[i].Number
                                                            </div>
                                                            <div class="symbol div-element">
                                                                @Model[i].Symbol
                                                            </div>
                                                            <div class="name-number div-element">
                                                                @Model[i].Name
                                                            </div>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        if (Model[i].ElementClass == "Gases Nobles")
                                                        {
                                                            <td class="element gases-nobles" id="E_@PositionCounter" onmouseover="Zoomin(@PositionCounter)" onmouseout="Zoomout(@PositionCounter)">
                                                                <div class="name-number">
                                                                    @Model[i].Number
                                                                </div>
                                                                <div class="symbol div-element">
                                                                    @Model[i].Symbol
                                                                </div>
                                                                <div class="name-number div-element">
                                                                    @Model[i].Name
                                                                </div>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <div class="name-number">
                                                                    @Model[i].Number
                                                                </div>
                                                                <div class="symbol div-element">
                                                                    @Model[i].Symbol
                                                                </div>
                                                                <div class="name-number div-element">
                                                                    @Model[i].Name
                                                                </div>
                                                            </td>
                                                        }

                                                    }

                                                }

                                            }

                                        }

                                    }

                                }


                            }


                        }

                    }


                }
                else
                {
                    <td style="width:60px;background-color:grey;height:60px;border:2px solid gray"></td>
                    i--;
                }



            }

                PositionCounter++;

            }
            </tr>

        </table>
        <br />
        <br />
        <table class="text-center">
            <tr>
                <td colspan="5" style="border:2px solid gray;background-color:lightgray;font-weight:700">Metales</td>
                <td rowspan="3" style="border:2px solid gray;width:124px;font-weight:700" class="metaloides">Metaloides</td>
                <td colspan="3" style="border:2px solid gray;background-color:lightgray;font-weight:700">No Metales</td>
            </tr>
            <tr>
                <td rowspan="2" style="border:2px solid gray;width:124px;font-weight:700" class="alcalinos">Alcalinos</td>
                <td rowspan="2" style="border:2px solid gray;width:124px;font-weight:700" class="alcalinoterreos">Alcalinoférreos</td>
                <td rowspan="2" style="border:2px solid gray;width:124px;font-weight:700" class="metales-transicion">Metales de transición</td>
                <td style="border:2px solid gray;width:120px;font-weight:700" class="lantanidos">Lantanidos</td>
                <td rowspan="2" style="border:2px solid gray;width:124px;font-weight:700" class="otros-metales">Otros metales</td>
                <td rowspan="2" style="border:2px solid gray;width:124px;font-weight:700" class="otros-no-metales">Otros No Metales</td>
                <td rowspan="2" style="border:2px solid gray;width:124px;font-weight:700" class="halogenos">Halogenos</td>
                <td rowspan="2" style="border:2px solid gray;width:126px;font-weight:700" class="gases-nobles">Gases Nobles</td>
            </tr>
            <tr>
                <td style="border:2px solid gray;font-weight:700" class="actinidos">Actinidos</td>
            </tr>

        </table>
        <div>
            <video autoplay loop muted class="video-container">
                <source src="~/Video/Video TP 3D.mp4" type="video/mp4" />
            </video>
        </div>
    </div>


